<section id="clients">
    <div class="container">
       
    </div>
</section>
<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p> 'Gelişim ve büyüme, iş dünyasında rekabet avantajını sürdürmenin anahtarıdır.'.</p>
                        <p>
                            <b>- Elon Musk -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>İşini büyütmek için öğrenmeye ve değişime açık ol. Çünkü değişim, büyümenin anahtarıdır.'.</p>
                        <p>
                            <b>- Sheryl Sandberg -</b>
                        </p>
                    </div>
                    <div class="item active">
                        <p>Başarı, bir işin sürekli olarak gelişmesi ve değişmesiyle mümkündür.</p>
                        <p>
                            <b>- Jack Welch -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>Başarılı olmak için işini büyüt, ancak başkalarının hayatına dokunarak gerçek başarıya ulaşabilirsin.'.</p>
                        <p>
                            <b>- Oprah Winfrey -</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>