@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("Header")
@await Component.InvokeAsync("Slider")
<div>
    <p>ermannnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
</div>
@await Component.InvokeAsync("Footer")
