@model List<WhoWeAreItem>

<section class="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter">
                    <h2 class="aligncenter">@Model[0].PageTitle</h2>
                    @Model[0].Description
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><img src="@Model[0].Image" class="img-center" alt="" /></div>
        </div>
    </div>
</section>
