@model Web.Models.SliderViewModel

<section id="banner">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.SliderItems)
            {
                <li>
                    <img src="@item.Image" alt="" />
                    <div class="flex-caption">
                        <h3>@item.PageTitle</h3>
                        <p>@item.Description</p>
                        <a href="portfolio" class="btn btn-theme">Keşfet</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- end slider -->
</section>
