<section id="banner">

    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                    <h3>SİBER GÜVENLİK ÜRÜNLERİMİZ</h3>
                    <p>Dijital Dünyada Güvende Kalın</p>
                    <a href="portfolio.html" class="btn btn-theme">Keşfet</a>

                </div>
            </li>
            <li>
                <img src="img/slides/4.jpg" alt="" />
                <div class="flex-caption">
                    <h3>SİBER GÜVENLİK ÜRÜNLERİMİZ</h3>
                    <p>İhtiyaçlarınıza Özel Çözümler Sunuyoruz.</p>
                    <a href="portfolio.html" class="btn btn-theme">Keşfet</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- end slider -->

</section>