@{
    var absolutePath = Context.Request.Path.Value;
}

<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <style>
                .navbar-header {
                    display: flex;
                    align-items: center;
                }

                .navbar-toggle {
                    margin-right: 5px;
                }

                .navbar-brand img {
                    width: 200px;
                    height: auto;
                    margin-left: -60px;
                    margin-top: -40px;
                }
            </style>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Güncellenmiş logo yolu -->
                <a class="navbar-brand" href="index.html"><img src="/img/logod.png" alt="logo" /></a>
            </div>

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li @(absolutePath == "/" ? "class=active" : "")><a href="/">Anasayfa</a></li>
                    <li @(absolutePath == "/PageDetail/Index/1" ? "class=active" : "")><a href="/PageDetail/Index/1">Hakkımızda</a></li>
                    <li @(absolutePath == "/portfolio" ? "class=active" : "")><a href="/portfolio">İş Ortaklarımız</a></li>
                    <li @(absolutePath == "/contact" ? "class=active" : "")><a href="/contact">İletişim</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
