@model Web.Models.HomeproductViewModel


<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="aligncenter">
                    <h1 class="aligncenter">@Model.HomeproductItems[0].Title</h1>
                    @Model.HomeproductItems[0].Description
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="skill-home">
                <div class="skill-home-solid clearfix">
                    @foreach (var item in Model.HomeproductItems[0].HomeOzellikItems)
                    {
                        <div class="col-md-3 text-center">
                            <span class="icons c1"><i class="fa fa-@item.Image"></i></span>
                            <div class="box-area">
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
